<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col col-4">
      <h4 class="text-center">SELECCIONE IMAGENES</h4>
      <div class="row">
        <mdb-image-modal [modalImages]="images" type="margin"></mdb-image-modal>
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-3">
      <button type="button" mdbBtn color="primary" mdbWavesEffect>ingresar</button>
    </div>
  </div>
</div>
