<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-5 mt-5">
        <!-- Material form subscription -->
  
        <mdb-card>
  
          <mdb-card-header class="info-color white-text text-center py-4">
            <!-- <h5>
              <strong>Subscribe</strong>
            </h5> -->
            <div class="logo">
              <img src="/assets/img/logo-unsch4.png">
          </div>
          </mdb-card-header>
  
          <!--Card content-->
          <mdb-card-body class="px-lg-5">
  
            <!-- Form -->
            <form class="text-center" style="color: #757575;">
  
              <!-- <p>Join our mailing list. We write rarely, but only the best content.</p> -->
  
              <!-- <p>
                <a href="" target="_blank">See the last newsletter</a>
              </p> -->
  
              <!-- Name -->
              <div class="md-form mt-3">
                <input type="text" id="materialSubscriptionFormPasswords" class="form-control" mdbInput>
                <label for="materialSubscriptionFormPasswords">Nombre</label>
              </div>
  
              <!-- E-mai -->
              <div class="md-form">
                <input type="email" id="materialSubscriptionFormEmail" class="form-control" mdbInput>
                <label for="materialSubscriptionFormEmail">Contraseña</label>
              </div>
  
              <!-- Sign in button -->
              <button mdbBtn color="info" outline="true" rounded="true" class="z-depth-0 my-4 waves-effect" (click)="ingresar()"
                mdbWavesEffect type="submit">Ingresar</button>
                <p>
                 Quieres ser miembro?
                  <a (click)="registrar()" class="blue-text">Registrar</a>
                </p>
            </form>
            <!-- Form -->
  
          </mdb-card-body>
  
        </mdb-card>
        <!-- Material form subscription -->
  
      </div>
    </div>
  </div>
  