/* You can add global styles to this file, and also import other style files */
figure img {
    width: 100px!important;
    border: 1px solid red;
    height: 100px!important;
}


select.mdb-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f034c1;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 75%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-left: 2.2rem;
    margin: 10px 0 10px 0;
}

select.mdb-select:active {
    border-bottom: 1px solid rgb(238, 133, 203);
    -webkit-box-shadow: 0 1px 0 0 rgb(230, 111, 230);
    box-shadow: 0 1px 0 0 rgb(228, 32, 195);
}

label.otros1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}