<div class="container mt-5 ">
  <div class="row justify-content-md-center">
    <div class="col col-5 border">
      <h5 class="text-center">CREAR CUENTA</h5>
      <div class="md-form">
        <input mdbInput type="text" id="usuario" class="form-control">
        <label for="usuario" class="">USUARIO</label>
      </div>
      <div class="md-form">
        <input mdbInput type="password" id="contrasenia" class="form-control">
        <label for="contrasenia" class="">CONTRASEÑA</label>
      </div>
      <div class="md-form">
        <input mdbInput type="password" id="repetirpass" class="form-control">
        <label for="repetirpass" class="">REPETIR CONTRASEÑA</label>
      </div>
      <div class="md-form">
        <select class="mdb-select colorful-select dropdown-dark" #selecPais (change)="selectPais(selecPais.value)">
          <option disabled="disabled" value="">-Seleccionar Pais-</option>
          <option *ngFor="let item of paices" [value]="item.id">
            {{item.pais}}
          </option>
        </select>
      </div>
      <div class="md-form">
        <input mdbInput type="password" id="apellidos" class="form-control">
        <label for="apellidos" class="">APELLIDOS</label>
      </div>
      <div class="md-form">
        <input mdbInput type="password" id="nombre" class="form-control">
        <label for="nombre" class="">NOMBREs</label>
      </div>
      <div class="row">
        <div class="col-7">
            <form >
                <input name="uploadedfile" type="file" />
                <!-- <input type="submit" value="Subir archivo" /> -->
            </form>
            <div class="col-12">
                <button type="button" mdbBtn color="primary" mdbWavesEffect>subir archivo</button>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>
